/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@300;500;700&display=swap');

/* global */
:root {
  --white: #fff;
  --light: #eee;
  --grey: #999;
  --dark: #333;
  --dark-gradient: linear-gradient(162deg, #111, #222, #333);
  --black: #111;
  --black-translucent: rgba(0, 0, 0, 0.7);
  --blue: #0000cd;
  --darkBlue: #00008b;
  --red: #e60000;
  --brand-gradient: linear-gradient(162deg, #9e07ae, #e5202f, #f06424);
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  list-style: none;
  /* border: solid 1px red; */
}

.span-xl{
  font-family: "poppins", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  letter-spacing: .9px;
}

/* content */

/* aside */

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  grid-template-columns: minmax(300px, 15%) auto;  
  height: 100%;
  display: grid;
}

.aside {
  background-image: var(--dark-gradient);
  padding-top: 48px;
}

.nav {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  color: var(--light);
  padding: 64px 24px;
}

.nav li {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  padding: 12px 0;
  transition: ease-in-out .2s;

}

.nav li:hover {
  padding-left: 4px;
  color: var(--white);
}

.nav li i {
  width: 36px;
  text-align: center;
}


.logo-container {
  background-image: var(--brand-gradient);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  padding: 8px 16px;
  align-self: center;
}

.logo-icon {
  font-size: 2rem !important;
  color: var(--light);
}

.logo-container span {
  margin-top: -3px;
  line-height: 0px;
  font-size: 1.5rem;
  color: var(--light);
}

/* header */

.main {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: var(light);
  min-height: 200px;
  display: flex;
  flex-direction: column;
  background: var(--grey);
}

.header * {
  border: .5px solid red;
}

/* top header */

.top-bar {
  margin: 24px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.search-ct {
  flex: auto;
  display: flex;
  align-items: center;
  gap: 24px;
}

.search-input {
  outline: none;
  border: none;
  width: 100%;
  padding: 6px 24px;
  border-radius: 50px;
  font-size: 1.125rem;
  font-weight: 500;
  max-width: 600px;
}

.user-id-ct {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-icon {
  max-width: 48px;
  border-radius: 50px;
}

.username {
  font-weight: 700;
  font-size: 1.25rem;
}

/* bottom header */

.bottom-bar {
  margin: 24px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.user-greeting-ct {
  display: flex;
  align-items: center;
}

.user-greeting-ct *{
  display: block;
}



/* footer */

.footer {
  background-color: var(--black);
  color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  padding: 0 16px;
  height: 38px;
}

.footer a {
  padding-top: 2px;
}

.logo {
  color: var(--light);
}

.logo:hover {
  color: var(--white);
}